.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(20, 18, 18);
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: rgb(51, 48, 48);
    color: rgb(255, 255, 255);
}

.navbar li a.active {
    background-color: rgb(76, 137, 187);
    color: rgb(255, 255, 255)
}